#you-chr-ext-but {
    z-index: 1000000;
    bottom: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

#you-chr-ext-but h1 {
    font-size: 25px;
    text-align: center;
}

#you-chr-ext {
    z-index: 1000000;
    background-color: red;
    color: white;
    bottom: 60px;
    left: 20px;
    width: fit-content;
    height: fit-content;
    padding: 4px 6px;
    border-radius: 6px;
}

#you-chr-ext input {
    width: 40px;
    margin: 8px;
}